@tailwind base;
@tailwind components;
@tailwind utilities;


 .slick-track
{
    display: flex !important;
}

 .slick-slide{
    display: flex !important;
    height: inherit !important;
}

 .slick-slide > div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.close-menu,
.open-menu {
  position: absolute;
  cursor: pointer;
  display: none;
}



